:root {
    color-scheme: light dark;
  
    --light: white;
    --light-code: tomato;
  
    --dark: black;
    --dark-code: gold;
}

* {
    background-color: light-dark(var(--light), var(--dark));
    color: light-dark(var(--dark), var(--light));
}

html {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
    overflow: hidden;
}