:root {
    color-scheme: light dark;
  
    --light: white;
    --light-code: tomato;
    --light-button: #FAFF1E;
  
    --dark: black;
    --dark-code: gold;
    --dark-button: #ED3C8A;
}

* {
    background-color: light-dark(var(--light), var(--dark));
    color: light-dark(var(--dark), var(--light));
}

html {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}